# PANDAS LAB - Continuation of the EuroLeague Case Study
## Let's compare the competitions!

![](https://eurospects.com/wp-content/uploads/2018/10/eurocupeuroleague.png)

First of all, we must 

- Import the actual.csv Dataset. This dataset will be the CSV of the result obtained in class.
- Import ec23.xlsx. This dataset correspond to the import the dataset corresponding to Eurocup. Don't worry, this time the Excel will be cleaned (almost)

<details>
    <summary> Lab results </summary>

![](https://media1.tenor.com/m/lx2WSGRk8bcAAAAC/pulp-fiction-john-travolta.gif)

PERO QUÉ OS HABÉIS CREÍDO

</details>

In [111]:
! pip install openpyxl
# In case there is an error with this .xlsx document opening, install this library

Requirement already satisfied: openpyxl in /opt/anaconda3/envs/original/lib/python3.12/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /opt/anaconda3/envs/original/lib/python3.12/site-packages (from openpyxl) (1.1.0)

In [112]:
import pandas as pd
import numpy as np

In [113]:
elteams=pd.read_csv("actual.csv")
ecteams=pd.read_excel("ec2023.xlsx", index_col=False)

Let's analyze the EuroCup Dataframe! Is there any cleaning needed? Remember the basics: 
- Drop Null Values
- Drop Duplicate Rows
- Drop Strange Columns if you see any

In [114]:
# Your Code here: 
elteams.info() # no hay valores nulos
elteams.drop_duplicates(inplace = True) # eliminar posibles duplicados
elteams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225 entries, 0 to 224
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Competition  225 non-null    object
 1   Phase        225 non-null    object
 2   Ronda        225 non-null    int64
 3   Dia          225 non-null    object
 4   Hora         225 non-null    object
 5   Local        225 non-null    object
 6   Visitante    225 non-null    object
 7   Localscore   225 non-null    int64
 8   Roadscore    225 non-null    int64
 9   Arbitros     225 non-null    object
 10  Plusminus    225 non-null    int64
 11  Winner       225 non-null    object
 12  Ganador      225 non-null    object
dtypes: int64(4), object(9)
memory usage: 23.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225 entries, 0 to 224
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Competition  225 non-null    object
 1   Phase        225 non-null    object
 2   Ronda        225 non-null    int64
 3   Dia          225 non-null    object
 4   Hora         225 non-null    object
 5   Local        225 non-null    object
 6   Visitante    225 non-null    object
 7   Localscore   225 non-null    int64
 8   Roadscore    225 non-null    int64
 9   Arbitros     225 non-null    object
 10  Plusminus    225 non-null    int64
 11  Winner       225 non-null    object
 12  Ganador      225 non-null    object
dtypes: int64(4), object(9)
memory usage: 23.0+ KB

In [115]:
ecteams.info() # aquí sí que hay valores nulos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  173 non-null    int64
 1   fecha       173 non-null    object
 2   ronda       173 non-null    int64
 3   local       173 non-null    object
 4   visitante   173 non-null    object
 5   localscore  173 non-null    int64
 6   roadscore   172 non-null    float64
 7   Winner      173 non-null    object
 8   Ganador     172 non-null    float64
 9   plusminus   172 non-null    float64
dtypes: float64(3), int64(3), object(4)
memory usage: 13.6+ KB

In [116]:
ecteams.drop_duplicates(inplace=True) # había duplicados también
ecteams

,Unnamed: 0,fecha,ronda,local,visitante,localscore,roadscore,Winner,Ganador,plusminus
0,0,2024-01-31T21:00:00,17,Dreamland Gran Canaria,U-BT Cluj-Napoca,111,113.0,Visitante,113.0,-2.0
1,1,2024-01-31T20:00:00,17,Dolomiti Energia Trento,Buducnost VOLI Podgorica,78,97.0,Visitante,97.0,-19.0
2,2,2024-01-31T19:30:00,17,ratiopharm Ulm,Aris Midea Thessaloniki,66,86.0,Visitante,86.0,-20.0
3,3,2024-01-31T18:30:00,17,Cedevita Olimpija Ljubljana,London Lions,85,92.0,Visitante,92.0,-7.0
4,4,2024-01-31T18:00:00,17,Turk Telekom Ankara,Mincidelice JL Bourg en Bresse,64,68.0,Visitante,68.0,-4.0
...,...,...,...,...,...,...,...,...,...,...
168,165,2023-10-04T18:00:00,1,U-BT Cluj-Napoca,Turk Telekom Ankara,80,71.0,Local,80.0,9.0
169,166,2023-10-04T18:00:00,1,Prometey Slobozhanske,Veolia Towers Hamburg,97,77.0,Local,97.0,20.0
170,167,2023-10-03T20:30:00,1,Paris Basketball,Wolves Vilnius,105,78.0,Local,105.0,27.0
171,168,2023-10-03T19:30:00,1,ratiopharm Ulm,Dolomiti Energia Trento,80,70.0,Local,80.0,10.0
172,169,2023-10-03T19:00:00,1,Hapoel Shlomo Tel Aviv,Cedevita Olimpija Ljubljana,100,73.0,Local,100.0,27.0

In [117]:
ecteams.dropna(subset = ["roadscore"], inplace=True)

In [118]:
ecteams.roadscore.isna().sum()

0

In [119]:
ecteams.dropna(subset = ["Ganador"], inplace=True)

In [120]:
ecteams.Ganador.isna().sum()

0

In [121]:
ecteams.dropna(subset = ["plusminus"], inplace=True)

In [122]:
ecteams.plusminus.isna().sum()

0

In [123]:
ecteams.info()

<class 'pandas.core.frame.DataFrame'>
Index: 170 entries, 0 to 172
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  170 non-null    int64
 1   fecha       170 non-null    object
 2   ronda       170 non-null    int64
 3   local       170 non-null    object
 4   visitante   170 non-null    object
 5   localscore  170 non-null    int64
 6   roadscore   170 non-null    float64
 7   Winner      170 non-null    object
 8   Ganador     170 non-null    float64
 9   plusminus   170 non-null    float64
dtypes: float64(3), int64(3), object(4)
memory usage: 14.6+ KB

Let's now compare it with the EL dataset that we have: You might select a sample of both of them and see what are the inconsistencies!

In [124]:
#Your sample ecteams code here: 
ecteams.sample(10)

,Unnamed: 0,fecha,ronda,local,visitante,localscore,roadscore,Winner,Ganador,plusminus
95,94,2023-11-22T18:00:00,8,Slask Wroclaw,7bet-Lietkabelis Panevezys,71,75.0,Visitante,75.0,-4.0
5,5,2024-01-30T20:30:00,17,Joventut Badalona,Hapoel Shlomo Tel Aviv,85,91.0,Visitante,91.0,-6.0
67,67,2023-12-12T19:00:00,11,Aris Midea Thessaloniki,7bet-Lietkabelis Panevezys,69,60.0,Local,69.0,9.0
97,96,2023-11-21T21:00:00,8,Paris Basketball,Besiktas Emlakjet Istanbul,63,68.0,Visitante,68.0,-5.0
149,146,2023-10-18T18:00:00,3,Prometey Slobozhanske,London Lions,87,99.0,Visitante,99.0,-12.0
89,88,2023-11-28T20:00:00,9,Umana Reyer Venice,Veolia Towers Hamburg,94,77.0,Local,94.0,17.0
83,82,2023-11-29T20:30:00,9,Joventut Badalona,Prometey Slobozhanske,79,76.0,Local,79.0,3.0
52,52,2023-12-20T20:30:00,12,London Lions,Prometey Slobozhanske,89,88.0,Local,89.0,1.0
77,77,2023-12-05T20:00:00,10,Slask Wroclaw,Mincidelice JL Bourg en Bresse,63,72.0,Visitante,72.0,-9.0
112,110,2023-11-14T18:00:00,7,Prometey Slobozhanske,Hapoel Shlomo Tel Aviv,98,89.0,Local,98.0,9.0

In [125]:
#Your sample elteams code here: 
elteams.sample(5)

,Competition,Phase,Ronda,Dia,Hora,Local,Visitante,Localscore,Roadscore,Arbitros,Plusminus,Winner,Ganador
134,Euroleague,Regular Season,15,2023-12-20,20:30:00,EA7 Emporio Armani Milan,LDLC ASVEL Villeurbanne,84,61,"['PEREZ, MIGUEL ANGEL', 'NIKOLIC, UROS', 'UDYA...",23,EA7 Emporio Armani Milan,Local
42,Euroleague,Regular Season,5,2023-10-27,20:00:00,LDLC ASVEL Villeurbanne,Virtus Segafredo Bologna,84,87,"['PUKL,SASA', 'ZAMOJSKI, JAKUB', 'LEZCANO, LEA...",-3,Virtus Segafredo Bologna,Visitante
151,Euroleague,Regular Season,17,2023-12-29,20:00:00,ALBA Berlin,Olympiacos Piraeus,67,94,"['HORDOV, TOMISLAV ', 'KOLJENSIC, MILOS ', 'KO...",-27,Olympiacos Piraeus,Visitante
44,Euroleague,Regular Season,5,2023-10-27,20:30:00,FC Bayern Munich,Fenerbahce Beko Istanbul,67,76,"['LATISEVS, OLEGS', 'ALIAGA, JORDI', 'VAN DEN ...",-9,Fenerbahce Beko Istanbul,Visitante
122,Euroleague,Regular Season,14,2023-12-14,21:00:00,LDLC ASVEL Villeurbanne,Panathinaikos AKTOR Athens,81,89,"['BOLTAUZER, MATEJ', 'PATERNICO, CARMELO', 'BA...",-8,Panathinaikos AKTOR Athens,Visitante

What are the inconsistencies that you are seeing? Write them down!

- Ambos dataframes tienen diferentes columnas
- Las columnas no tienen el mismo formato
- Las columnas Winner y Ganador muestran datos diferentes, 
- en EC Winner indica si ha ganado el equipo local o el visitante mientras que en EL indica el nombre del equipo ganador
- en la columna Ganador de EC se muestra el resultado del equipo ganador mientras que en EL muestra si ha ganado el equipo local o visitante

<details>
    <summary> Expand the box to see the inconsistencies </summary>

- The columns are named in lowercase and the columns in Euroleague are capitalized
- There are some missing columns (f.e. Arbitros)
- Fecha is not split in Dia and Hora
- `Winner and Ganador Columns show different data` are not the same! Be extremely careful about it

</details>

As you can see there are a lot of different inconsistencies right? 
But beofore starting cleaning like crazy people, let's take a second to know what do we want to compare: 

- The CLUBS are impossible to compare, as different competitions defines different clubs
- Both rounds (Eurocup has less rounds) and Dates (Different Dates) are also not really useful
- We don't have information about Arbitros

## Conclusion

### We must take into consideration what data we DO have in both dataframes to compare it propperly and don't use time cleaning unnecessary things. 

In this particular case, we will need to compare:

`Competition`: The main column that define one from another. 

Create the Competition column in the EuroCup dataframe, being the fixed value "Eurocup"

In [126]:
#Your Code here: 
ecteams["Competition"]="Eurocup"

In [127]:
ecteams

,Unnamed: 0,fecha,ronda,local,visitante,localscore,roadscore,Winner,Ganador,plusminus,Competition
0,0,2024-01-31T21:00:00,17,Dreamland Gran Canaria,U-BT Cluj-Napoca,111,113.0,Visitante,113.0,-2.0,Eurocup
1,1,2024-01-31T20:00:00,17,Dolomiti Energia Trento,Buducnost VOLI Podgorica,78,97.0,Visitante,97.0,-19.0,Eurocup
2,2,2024-01-31T19:30:00,17,ratiopharm Ulm,Aris Midea Thessaloniki,66,86.0,Visitante,86.0,-20.0,Eurocup
3,3,2024-01-31T18:30:00,17,Cedevita Olimpija Ljubljana,London Lions,85,92.0,Visitante,92.0,-7.0,Eurocup
4,4,2024-01-31T18:00:00,17,Turk Telekom Ankara,Mincidelice JL Bourg en Bresse,64,68.0,Visitante,68.0,-4.0,Eurocup
...,...,...,...,...,...,...,...,...,...,...,...
168,165,2023-10-04T18:00:00,1,U-BT Cluj-Napoca,Turk Telekom Ankara,80,71.0,Local,80.0,9.0,Eurocup
169,166,2023-10-04T18:00:00,1,Prometey Slobozhanske,Veolia Towers Hamburg,97,77.0,Local,97.0,20.0,Eurocup
170,167,2023-10-03T20:30:00,1,Paris Basketball,Wolves Vilnius,105,78.0,Local,105.0,27.0,Eurocup
171,168,2023-10-03T19:30:00,1,ratiopharm Ulm,Dolomiti Energia Trento,80,70.0,Local,80.0,10.0,Eurocup
172,169,2023-10-03T19:00:00,1,Hapoel Shlomo Tel Aviv,Cedevita Olimpija Ljubljana,100,73.0,Local,100.0,27.0,Eurocup

`Ganador`: Being the actual values "Local" or "Visitante"

**BE CAREFUL**: Before changing the correct column to "Ganador" from the EC dataframe, there is a "Ganador" column with the incorrect information: STEP BY STEP!

In [128]:
#Drop the Column Ganador from the Eurocup Dataframe
ecteams.drop("Ganador", inplace=True, axis=1) #hay que poner axis 1 para eliminar las columnas

In [129]:
ecteams

,Unnamed: 0,fecha,ronda,local,visitante,localscore,roadscore,Winner,plusminus,Competition
0,0,2024-01-31T21:00:00,17,Dreamland Gran Canaria,U-BT Cluj-Napoca,111,113.0,Visitante,-2.0,Eurocup
1,1,2024-01-31T20:00:00,17,Dolomiti Energia Trento,Buducnost VOLI Podgorica,78,97.0,Visitante,-19.0,Eurocup
2,2,2024-01-31T19:30:00,17,ratiopharm Ulm,Aris Midea Thessaloniki,66,86.0,Visitante,-20.0,Eurocup
3,3,2024-01-31T18:30:00,17,Cedevita Olimpija Ljubljana,London Lions,85,92.0,Visitante,-7.0,Eurocup
4,4,2024-01-31T18:00:00,17,Turk Telekom Ankara,Mincidelice JL Bourg en Bresse,64,68.0,Visitante,-4.0,Eurocup
...,...,...,...,...,...,...,...,...,...,...
168,165,2023-10-04T18:00:00,1,U-BT Cluj-Napoca,Turk Telekom Ankara,80,71.0,Local,9.0,Eurocup
169,166,2023-10-04T18:00:00,1,Prometey Slobozhanske,Veolia Towers Hamburg,97,77.0,Local,20.0,Eurocup
170,167,2023-10-03T20:30:00,1,Paris Basketball,Wolves Vilnius,105,78.0,Local,27.0,Eurocup
171,168,2023-10-03T19:30:00,1,ratiopharm Ulm,Dolomiti Energia Trento,80,70.0,Local,10.0,Eurocup
172,169,2023-10-03T19:00:00,1,Hapoel Shlomo Tel Aviv,Cedevita Olimpija Ljubljana,100,73.0,Local,27.0,Eurocup

In [130]:
#Rename the column with the actual information to "Ganador"
ecteams.rename(columns={"Winner":"Ganador"}, inplace=True)

In [131]:
ecteams

,Unnamed: 0,fecha,ronda,local,visitante,localscore,roadscore,Ganador,plusminus,Competition
0,0,2024-01-31T21:00:00,17,Dreamland Gran Canaria,U-BT Cluj-Napoca,111,113.0,Visitante,-2.0,Eurocup
1,1,2024-01-31T20:00:00,17,Dolomiti Energia Trento,Buducnost VOLI Podgorica,78,97.0,Visitante,-19.0,Eurocup
2,2,2024-01-31T19:30:00,17,ratiopharm Ulm,Aris Midea Thessaloniki,66,86.0,Visitante,-20.0,Eurocup
3,3,2024-01-31T18:30:00,17,Cedevita Olimpija Ljubljana,London Lions,85,92.0,Visitante,-7.0,Eurocup
4,4,2024-01-31T18:00:00,17,Turk Telekom Ankara,Mincidelice JL Bourg en Bresse,64,68.0,Visitante,-4.0,Eurocup
...,...,...,...,...,...,...,...,...,...,...
168,165,2023-10-04T18:00:00,1,U-BT Cluj-Napoca,Turk Telekom Ankara,80,71.0,Local,9.0,Eurocup
169,166,2023-10-04T18:00:00,1,Prometey Slobozhanske,Veolia Towers Hamburg,97,77.0,Local,20.0,Eurocup
170,167,2023-10-03T20:30:00,1,Paris Basketball,Wolves Vilnius,105,78.0,Local,27.0,Eurocup
171,168,2023-10-03T19:30:00,1,ratiopharm Ulm,Dolomiti Energia Trento,80,70.0,Local,10.0,Eurocup
172,169,2023-10-03T19:00:00,1,Hapoel Shlomo Tel Aviv,Cedevita Olimpija Ljubljana,100,73.0,Local,27.0,Eurocup

As seen in the first look at the dataframes, there was a problem with the columns: Are lower when they should be Capitalized, as in the Euroleague DataFrame. Change the column names to capitalize. 

is there a quick way to do it?

In [132]:
# Your code here: 
ecteams.columns = [i.title() for i in ecteams.columns]

In [133]:
ecteams.columns

Index(['Unnamed: 0', 'Fecha', 'Ronda', 'Local', 'Visitante', 'Localscore',
       'Roadscore', 'Ganador', 'Plusminus', 'Competition'],
      dtype='object')

In [134]:
elteams.columns

Index(['Competition', 'Phase', 'Ronda', 'Dia', 'Hora', 'Local', 'Visitante',
       'Localscore', 'Roadscore', 'Arbitros', 'Plusminus', 'Winner',
       'Ganador'],
      dtype='object')

Now it is time to just take the useful columns from each data! We will call the result subsets `comp_el` and `comp_ec`

REMEMBER: Use the same order of the columns for each dataset. 

Recommended order: Competition, Localscore, Roadscore, Plusminus, Ganador. **Nothing else is useful**

In [135]:
# Your code here: 
reindexado = ['Competition','Localscore', 'Roadscore', 'Plusminus', 'Ganador']
comp_el = elteams.reindex(columns=reindexado)
comp_ec = ecteams.reindex(columns=reindexado)

Time to concatenate them both! Create a concat of both Dfs, called `competition`

In [136]:
# Your code here: 
competition = pd.concat([comp_el, comp_ec], axis=0)
competition = competition.reset_index(drop=True) 
competition

    Competition  Localscore  Roadscore  Plusminus    Ganador
0    Euroleague          94       73.0       21.0      Local
1    Euroleague          96       81.0       15.0      Local
2    Euroleague          79       82.0       -3.0  Visitante
3    Euroleague          80       68.0       12.0      Local
4    Euroleague          91       74.0       17.0      Local
..          ...         ...        ...        ...        ...
390     Eurocup          80       71.0        9.0      Local
391     Eurocup          97       77.0       20.0      Local
392     Eurocup         105       78.0       27.0      Local
393     Eurocup          80       70.0       10.0      Local
394     Eurocup         100       73.0       27.0      Local

[395 rows x 5 columns]

## Well done!

Now we have the combination of both competitions in the same dataframe. Is time for the questions you must answer:

1. How many matches have been in each competition?
2. What are the maximum points that a local team has scored per competition? And the road team as well. 
3. Do the same operations with the average points (per competition)
4. Can you tell me the maximum difference that has been in a match, splitted by competition? 
    - Careful: The Plusminus is both positive and negative, being negative that the Road Team has achieved the Victory. To have the absolute, create a new Column named Absolut_Plusminus. Remember: np.where is life!
5. Also grouped by competition, give me the number of victories of the Locals and the Visitors

In [137]:
# 1. How many matches have been in each competition?
competition["Competition"].value_counts()
# 225 partidos de Euroliga 
# 172 partidos de Eurocopa
competition.groupby("Competition")[["Localscore"]].count()

             Localscore
Competition
Eurocup             170
Euroleague          225

In [138]:
# 2
competition.groupby(by = "Competition").agg({"Localscore":"max"})

             Localscore
Competition
Eurocup             120
Euroleague          130

In [139]:
# 2
competition.groupby(by = "Competition").agg({"Roadscore":"max"})

             Roadscore
Competition
Eurocup          114.0
Euroleague       126.0

In [140]:
# 2. What are the maximum points that a local team has scored per competition? And the road team as well. 
# convierto el tipo a int
competition.Roadscore = competition.Roadscore.astype("int64")
competition.groupby(by = "Competition").agg({"Localscore":"max", "Roadscore":"max"})

             Localscore  Roadscore
Competition
Eurocup             120        114
Euroleague          130        126

In [141]:
# 3. Do the same operations with the average points (per competition)
competition[["Competition","Localscore", "Roadscore"]].groupby(by = "Competition").mean().round(2)

             Localscore  Roadscore
Competition
Eurocup           85.24      83.96
Euroleague        83.28      79.17

In [142]:
# 4. Can you tell me the maximum difference that has been in a match, splitted by competition? 
# - Careful: The Plusminus is both positive and negative, being negative that the Road Team 
# has achieved the Victory. To have the absolute, create a new Column named Absolut_Plusminus. Remember: np.where is life!
# convierto a int el Plusminus
competition.Plusminus = competition.Plusminus.astype("int64")
competition["Absolut_Plusminus"] = abs(competition.Plusminus)
competition.head()
competition.groupby("Competition").agg({"Absolut_Plusminus": "max"})

             Absolut_Plusminus
Competition
Eurocup                     39
Euroleague                  39

In [143]:
competition[competition.Absolut_Plusminus == 39]

,Competition,Localscore,Roadscore,Plusminus,Ganador,Absolut_Plusminus
35,Euroleague,98,59,39,Local,39
364,Eurocup,72,111,-39,Visitante,39

In [145]:
# 5. Also grouped by competition, give me the number of victories of the Locals and the Visitors
pd.crosstab(competition["Competition"], competition["Ganador"], competition["Ganador"], aggfunc = "count")

Ganador      Local  Visitante
Competition
Eurocup         90         80
Euroleague     150         75